
@font-face {
    font-family: 'HD';
    src: url('/frontend/fonts/hd.eot?9tccdw1');
    src: url('/frontend/fonts/hd.eot?#iefix9tccdw1') format('embedded-opentype'), url('/frontend/fonts/hd.ttf?9tccdw1') format('truetype'), url('/frontend/fonts/hd.woff?9tccdw1') format('woff'), url('/frontend/fonts/hd.svg?9tccdw1#Hotdeal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hd {
    display: inline-block;
    font-family: 'HD';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hd-an-uong:before {
    content: "\e900";
}

.hd-dien-tu:before {
    content: "\e901";
}

.hd-lam-dep:before {
    content: "\e902";
}

.hd-mom-baby:before,
.hd-icon_MeBe:before {
    content: "\e903";
}

.hd-gia-dung:before,
.hd-nha-cua:before {
    content: "\e904";
}

.hd-sach:before {
    content: "\e905";
}

.hd-makeup:before,
.hd-spa-lam-dep:before {
    content: "\e906";
}

.hd-thu-pham:before {
    content: "\e907";
}

.hd-arr-down-square:before {
    content: "\e600";
}

.hd-arrow-down:before {
    content: "\e601";
}

.hd-icon-circle:before {
    content: "\e602";
}

.hd-angle-double-right:before {
    content: "\e603";
}

.hd-newsletter:before {
    content: "\e604";
}

.hd-search:before {
    content: "\e605";
}

.hd-shipping:before {
    content: "\e606";
}

.hd-user:before {
    content: "\e607";
}

.hd-gps:before {
    content: "\e608";
}

.hd-email:before {
    content: "\e609";
}

.hd-beauty:before {
    content: "\e60a";
}

.hd-entertainment:before {
    content: "\e60b";
}

.hd-fashion:before {
    content: "\e60c";
}

.hd-product:before {
    content: "\e60d";
}

.hd-restaurant:before {
    content: "\e60e";
}

.hd-travel:before {
    content: "\e60f";
}

.hd-map-marker:before {
    content: "\e610";
}

.hd-angle-down:before {
    content: "\e611";
}

.hd-cart:before {
    content: "\e612";
}

.hd-share:before {
    content: "\e613";
}

.hd-minus:before {
    content: "\e614";
}

.hd-plus:before {
    content: "\e615";
}

.hd-evoucher:before {
    content: "\e616";
}

.hd-star:before {
    content: "\e617";
}

.hd-clock:before {
    content: "\e618";
}

.hd-ticket:before {
    content: "\e619";
}

.hd-star-o:before {
    content: "\e61a";
}

.hd-price:before {
    content: "\e61b";
}

.hd-area:before {
    content: "\e61c";
}

.hd-location:before {
    content: "\e61d";
}

.hd-list:before {
    content: "\e61e";
}

.hd-sort-arrow:before {
    content: "\e61f";
}

.hd-lock:before {
    content: "\e620";
}

.hd-back:before {
    content: "\e621";
}

.hd-calendar:before {
    content: "\e622";
}

.hd-tick:before {
    content: "\e623";
}

.hd-x:before {
    content: "\e624";
}

.hd-order:before {
    content: "\e625";
}

.hd-total:before {
    content: "\e626";
}

.hd-sort:before {
    content: "\e800";
}

.hd-cong-nghe:before {
    content: "\e801";
}

.hd-me-be:before {
    content: "\e802";
}

.hd-my-pham:before {
    content: "\e803";
}

.hd-phu-kien:before {
    content: "\e804";
}

.hd-san-pham:before {
    content: "\e805";
}

.hd-thuc-pham:before {
    content: "\e806";
}

.hd-tt-nu:before {
    content: "\e807";
}

.hd-tt-treem:before {
    content: "\e808";
}

.hd-nav:before {
    content: "\e908";
}

.hd-remove:before {
    content: "\e909";
}

.hd-sort2:before {
    content: "\e90a";
}

.hd-ems:before {
    content: "\e90b";
}

.hd-thuong-hieu:before {
    content: "\e90c";
}

.hd-khuyen-mai-hot:before {
    content: "\e90d";
}

.hd-san-pham-hot:before {
    content: "\e90e";
}

.hd-hellokitty:before {
    content: "\e901";
}